/*body width:1350px*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


@function px-to-rem($tam) {
  @return #{($tam/16)}+rem;
}

@mixin central{
  width: 78%;
  margin: auto;
  margin-top: 2rem;
}

/*-------------------------------------variaveis----------------------------------------------------------*/

$cor-cinza: #808080;
$cor-cinza-claro: #f0f0f0;

$roboto: 'Roboto', sans-serif;
$mont: 'Montserrat', sans-serif;
$font-s: 0.75rem;  //12px
$font-m: 0.875rem; //14px
$font-l: 1rem;     //16px
$font-xl: 1.25rem; //20px
$font-xxl: 3.18rem; //51px
$font-banner: 36.06/16;
$font-banner-preco: 74/16;
$font-banner-preco-destaque: 147.52/16;

@mixin flex{
  display: flex;
}

@mixin three-cols{
  width: 33.33%;
}

@mixin border-box{
  box-sizing: border-box;
}
/*----------------------------------------------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
}

body{
  font-family: $roboto;
  font-size: 100%;
  margin: auto;
  max-width: 1350px;
}
header, nav{
  width: 92.6%;
  margin: auto;
}
.main-header{
  @include flex;
  font-size: $font-s;
  padding-top: 42.5px;
  // padding-left: 3.70%;
  .containers-header &{
    @include border-box;
  }
    & :nth-child(2){
      text-align: center;
    }
    & :nth-child(3){
      text-align: right;
      & :nth-child(1){
        margin-right: 4%;
      }
      p{
        float: right;
        margin-left: 8%;
      }
    }
}
nav{
  margin-top: 26px;
  margin-bottom: 26px;
}
ul{
  @include flex;
}

// -------------------------------------------------textos------------------------------------------------
h1{
  text-indent: -5000px;
  height: 0;
}
a{
  text-decoration: none;
  color: black;
}

a[role= "button"]{
  border: 1px solid black;
  font-size: px-to-rem(13);
  padding: 24px 75px;
  text-align: center;
}
li{
  list-style: none;
}
// --------------------------------------------classes----------------------------------------------------

.ul-main-nav{
  & :first-child{
    text-align: left;
  }
  & :last-of-type{
    text-align: right;
  }
}
.nav-li{
  display: block;
  font-size: $font-m;
  float: left;
  width: 14.28%;
  text-align: center;
}
.containers-header{
  height: 50px;
}
.containers-banner, .containers-header{
    @include three-cols;
}
.banner-container{
  background-image: url('../images/banner-bg.png');
  background-position: center;
  @include flex;
  height: 379px;
}
.containers-banner{
      font-family: $mont;
}
.containers-banner-a{
    text-align: right;
    padding-top: 4.9rem;
        a[role= "button"]{
          font-size: $font-l + 0.1;
        }
        p{
          font-size: $font-xxl - 0.25;
          font-weight: lighter;
          height: auto;
          margin-bottom: 2rem;
        }
        strong{
          font-size: $font-xxl;
          // padding-right: 5px;
        }
}

// ---------------------------------------BANNER-----------------------------------------------
.containers-banner-c{
  padding-top: 6rem;
  margin-left: -70px;
        p{
          font-size: #{$font-banner}+rem;
          text-align: center;
              strong{
                font-size: #{$font-banner-preco}+rem;
                line-height: 120px;;
                font-family: $roboto;
              }
              .preco-cifrao{
                vertical-align: 49px;
              }
              .preco-destaque{
                font-size: #{$font-banner-preco-destaque}+rem;
              }

        }
}

// -----------------------------------------------------ICONS------------------------------------------------
.div-icons{
  background-image: url('../images/icons-bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 43px;
  margin-top: 2rem;
  margin-left: 6.59%;
  width: 93.41%;
}
.icons-aside{
  height: 43px;
  margin-top: -2.6rem;
}
.ul-icons{
  padding-left: 12%;
}
.icons-li{
  display: inline-block;
  font-size: px-to-rem(12.8);
  padding-top: 0.5rem;
  width: 14.5%;
    strong{
      font-size: px-to-rem(17.09);
    }
}
.icons-b{
  margin-left: 14%;
}
.icons-c{
  margin-left: 13.5%;
}
.icons-d{
  margin-left: 11%;
}


// -------------------------------------------------------SECTION-SEGMENTS----------------------
.section-segments{
  margin-top: 2rem;
}
.sections-segments-container{
  @include flex;
  margin: auto;
  width: 78%;
      .division{
        @include three-cols;
        text-align: center;
            .legend{
              padding-top: 1rem;
              padding-bottom: 1.5rem;
              font-size: px-to-rem(22)
            }
            a[role= "button"]{
              padding: 19px 45px;
            }
      }
}
// --------------------------------------BRANDS-NAV--------------------------------------
.brands-nav{
  @include flex;
  @include border-box;
  margin-top: 5.5rem;
    .brands-nav-control{
      width: 5%;
    }
    .right-control{
      text-align: right;
    }
    .brands-nav-ul{
        width: 90%;
    }
}
.brands-li{
  margin-left: 3.5%;
}

// -----------------------------------------NEWS------------------------------------------
.news-header{
  @include flex;
  width: 78%;
    .news-h2{
      font-size: px-to-rem(24.3);
    }
  }
.news-header-ul{
  padding-left: 49%;
  border-bottom: 2px solid $cor-cinza;
  margin-left: 1rem;
}
.news-header-a{
  font-size: 1rem;
  padding: 0 1rem;
  padding-bottom: 0.5rem;
}
#no-padding-right{
  padding-right: 0;
}
.news-header-a:hover, .news-header-a:active {
  font-weight: bold;
  border-bottom: 3px solid black;
}
.news-nav{
  @include flex;
      .news-nav-control{
        margin-top: 19.5rem;
      }
      .news-nav-items{
        @include three-cols;
          figure{text-align: center;}
          p{
            font-size: px-to-rem(19);
            padding-left: 4rem;
            letter-spacing: 0.1px;
          }
          span{
            color: $cor-cinza;
          }
          .news-discount{
            font-size: px-to-rem(14.05);
            position: relative;
            width: 10px;
            top: -480px;
            left: 225px;
          }
      }
}

// ----------------------------------------------------SECTION-UNDERWEAR--------------------
.underwear-section-container{
  @include flex;
  margin: auto;
  margin-top: 2.5rem;
  width: 78%;
}

.under-div-b{
  margin-left: 2.7%;
}
.underwear-section-div{
  height: 339px;
    a[role="button"]{
      border-width: 2px;
      left: 195px;
      position: relative;
      top: -230px;
      padding: 19px 45px;
    }
}
.underwear-kit-text, .underwear-lingerie-text{
  position: relative;
  top: -267px;
}
.underwear-kit-text{
  font-family: $mont;
  font-size: px-to rem(31.49);
  font-weight: lighter;
  left: -140px;
  text-align: right;
      strong{
        text-align: left;
        font-size: px-to-rem(37.9);
        font-family: $roboto;
        font-weight: 1000;
      }
      span{
        font-size: px-to-rem(70.24);
        font-weight: 600;
      }
}
.underwear-lingerie-text{
  font-size: px-to-rem(37.34);
  left: 110px;
      strong, span{
        font-size: px-to-rem(65.29);
      }

}

// ---------------------------------------------ABOUT-ARTICLE----------------------------------

.about-article{
  width: 78%;
  margin: auto;
  margin-top: 2.5rem;
      h2{
        font-size: px-to-rem(36.45);
      }
      hr{
        float: right;
        margin-top: -0.65rem;
        width: 58%;
      }
      p{
        font-size: px-to-rem(14);
        font-family: $mont;
        padding-top: 2rem;
      }
}
// -------------------------------------------promotions-form----------------------

.promotions-form{
    @include central;
    box-sizing: border-box;
    background-color: $cor-cinza-claro;
    font-size: px-to-rem(19.94);
    padding: 1.8rem 0 1.8rem 3rem;
    strong{
      margin-right: 2.6rem;
    }
    input[type="text"]{
      border: none;
      border-top: 1px solid black;
      border-left: 1px solid black;
      color: $cor-cinza;
      font-family: $mont;
      font-size: 1rem;
      height: 43px;
      padding-left: 1rem;
      width: 37%;
    }
    input[type="submit"]{
      color: white;
      background-color: black;
      border: none;
      font-size: 1rem;
      padding: 0.8rem 2.5rem;
      margin-left: -4px;
    }
}

// -----------------------------------------footer--------------------------------------------

footer{
  @include central;
  height: 600px;
  border-top: 1.5px solid $cor-cinza-claro;
  width: 100%;
  // background-color: grey;
}
.footer-container-top{
  @include flex;
}
.footer-table{
  font-size: px-to-rem(12);
  thead{
    display: inline-block;
  }
      td{
        border-collapse: separate;
        // background-color: yellow;
        padding-right: 1rem;
      }
}

.table-container{
  padding-top: 2rem;
  padding-left: 10.7%;
}
.right-table-container{
}

.footer-container-mid{
    @include flex;
    border-bottom: 1px solid $cor-cinza-claro;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 78%;
    margin: auto;

  li{
    font-size: px-to-rem(11);
    list-style: disc;
    margin-left: 1.5rem;
    padding-top: 0.3rem;
      &:nth-child(1){
        list-style: none;
      }
  }
  li::before{
    color: $cor-cinza-claro;
  }
}

.footer-container-bottom{
    @include central;
    @include flex;
    border-bottom: 1px solid $cor-cinza-claro;
    box-sizing: border-box;
        div{
          margin: auto;
          height: 240px;
        }
        table{
          thead{
            text-align: left;
            display: inline-block;
          }
        }
        a[role="button"]{
          display: block;
          font-size: px-to-rem(23);
          padding: 19px 45px;
        }
        a[role="link"]{
          margin-left: 1.2rem;
        }
}
.container-copyright{
  @include central;
  @include flex;
      p{
        font-size: px-to-rem(12);
      }
      .container-selos{
        img{
          margin-right: 1rem;
        }
        margin-left: 10.9rem
      }
}

// ------------------------------@mediaqueries---------------------------------------
@media only screen and (max-width: 1024px) {
  .containers-banner-c{
    width: 40%
  }
  .div-icons{
    background-image: none;
  }
  .ul-icons{
    padding-left: 0;
  }
  .icons-li{
    width: 20%;
    margin-left: 5%;
  }
  .sections-segments-container{
    width: 100%;
  }
  .brands-li{
    margin-left: 1%;
  }
  .news-header-ul{
    padding-left: 30%;
    border-bottom: 2px solid $cor-cinza;
    margin-left: 2%;
  }
  .underwear-section-container{
    flex-direction: column;
  }
  .underwear-section-div{
    margin: auto;
  }
  .under-div-b{
    margin-top: 1rem;
  }
}

@media screen and (max-width: 376px){
  .main-header{
    flex-direction: column;
    .containers-header{
      width: 70%;
      margin: auto;
    }
    .c-h-a{
      display: none;
    }
    .c-h-c{
      margin-top: 2rem;
      padding-right: 3rem;
    }
  }
  nav{
    display: none;
  }
  .containers-banner-a{
    p{
      text-align: center;
      width: 50%;
      margin: 0;
    }
  }
  .div-icons{
    display: none;
  }
  .underwear-section-container{
    margin:0;
    width: 100%;
  }
  .underwear-section-div{
    width:99%;

  }
  .containers-banner-c, .containers-banner-b{
    display: none;
  }
  .news-section, .section-segments, .icons-aside{
    display: none;
  }
  .promotions-form{
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    input[type= "text"]{
      display: block;
      margin: 2rem 0;
      width: 95%;
    }
    input[type= "submit"]{
      margin-left: 25%;
    }
  }
  footer{
    div{
      flex-direction: column;
    }
  }
  .table-container{
    padding: 0;
    padding-top: 1rem;
  }
  .footer-table{
    td{
      padding: 0;
    }
  }
  .footer-container-mid{
    display: none;
  }
  .footer-container-bottom{
    margin: 0;
    div{
      height: 160px;
      margin-top: 2rem;
    }
  }
  .container-copyright{
    .container-selos{
      margin: 0;
      margin-top: 2rem;
      margin-bottom: 1rem;
      text-align: center;
    }
  }
}
