/*body width:1350px*/
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
/*-------------------------------------variaveis----------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  margin: auto;
  max-width: 1350px;
}

header, nav {
  width: 92.6%;
  margin: auto;
}

.main-header {
  display: flex;
  font-size: 0.75rem;
  padding-top: 42.5px;
}
.containers-header .main-header {
  box-sizing: border-box;
}
.main-header :nth-child(2) {
  text-align: center;
}
.main-header :nth-child(3) {
  text-align: right;
}
.main-header :nth-child(3) :nth-child(1) {
  margin-right: 4%;
}
.main-header :nth-child(3) p {
  float: right;
  margin-left: 8%;
}

nav {
  margin-top: 26px;
  margin-bottom: 26px;
}

ul {
  display: flex;
}

h1 {
  text-indent: -5000px;
  height: 0;
}

a {
  text-decoration: none;
  color: black;
}

a[role=button] {
  border: 1px solid black;
  font-size: 0.8125rem;
  padding: 24px 75px;
  text-align: center;
}

li {
  list-style: none;
}

.ul-main-nav :first-child {
  text-align: left;
}
.ul-main-nav :last-of-type {
  text-align: right;
}

.nav-li {
  display: block;
  font-size: 0.875rem;
  float: left;
  width: 14.28%;
  text-align: center;
}

.containers-header {
  height: 50px;
}

.containers-banner, .containers-header {
  width: 33.33%;
}

.banner-container {
  background-image: url("../images/banner-bg.png");
  background-position: center;
  display: flex;
  height: 379px;
}

.containers-banner {
  font-family: "Montserrat", sans-serif;
}

.containers-banner-a {
  text-align: right;
  padding-top: 4.9rem;
}
.containers-banner-a a[role=button] {
  font-size: 1.1rem;
}
.containers-banner-a p {
  font-size: 2.93rem;
  font-weight: lighter;
  height: auto;
  margin-bottom: 2rem;
}
.containers-banner-a strong {
  font-size: 3.18rem;
}

.containers-banner-c {
  padding-top: 6rem;
  margin-left: -70px;
}
.containers-banner-c p {
  font-size: 2.25375rem;
  text-align: center;
}
.containers-banner-c p strong {
  font-size: 4.625rem;
  line-height: 120px;
  font-family: "Roboto", sans-serif;
}
.containers-banner-c p .preco-cifrao {
  vertical-align: 49px;
}
.containers-banner-c p .preco-destaque {
  font-size: 9.22rem;
}

.div-icons {
  background-image: url("../images/icons-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 43px;
  margin-top: 2rem;
  margin-left: 6.59%;
  width: 93.41%;
}

.icons-aside {
  height: 43px;
  margin-top: -2.6rem;
}

.ul-icons {
  padding-left: 12%;
}

.icons-li {
  display: inline-block;
  font-size: 0.8rem;
  padding-top: 0.5rem;
  width: 14.5%;
}
.icons-li strong {
  font-size: 1.068125rem;
}

.icons-b {
  margin-left: 14%;
}

.icons-c {
  margin-left: 13.5%;
}

.icons-d {
  margin-left: 11%;
}

.section-segments {
  margin-top: 2rem;
}

.sections-segments-container {
  display: flex;
  margin: auto;
  width: 78%;
}
.sections-segments-container .division {
  width: 33.33%;
  text-align: center;
}
.sections-segments-container .division .legend {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  font-size: 1.375rem;
}
.sections-segments-container .division a[role=button] {
  padding: 19px 45px;
}

.brands-nav {
  display: flex;
  box-sizing: border-box;
  margin-top: 5.5rem;
}
.brands-nav .brands-nav-control {
  width: 5%;
}
.brands-nav .right-control {
  text-align: right;
}
.brands-nav .brands-nav-ul {
  width: 90%;
}

.brands-li {
  margin-left: 3.5%;
}

.news-header {
  display: flex;
  width: 78%;
}
.news-header .news-h2 {
  font-size: 1.51875rem;
}

.news-header-ul {
  padding-left: 49%;
  border-bottom: 2px solid #808080;
  margin-left: 1rem;
}

.news-header-a {
  font-size: 1rem;
  padding: 0 1rem;
  padding-bottom: 0.5rem;
}

#no-padding-right {
  padding-right: 0;
}

.news-header-a:hover, .news-header-a:active {
  font-weight: bold;
  border-bottom: 3px solid black;
}

.news-nav {
  display: flex;
}
.news-nav .news-nav-control {
  margin-top: 19.5rem;
}
.news-nav .news-nav-items {
  width: 33.33%;
}
.news-nav .news-nav-items figure {
  text-align: center;
}
.news-nav .news-nav-items p {
  font-size: 1.1875rem;
  padding-left: 4rem;
  letter-spacing: 0.1px;
}
.news-nav .news-nav-items span {
  color: #808080;
}
.news-nav .news-nav-items .news-discount {
  font-size: 0.878125rem;
  position: relative;
  width: 10px;
  top: -480px;
  left: 225px;
}

.underwear-section-container {
  display: flex;
  margin: auto;
  margin-top: 2.5rem;
  width: 78%;
}

.under-div-b {
  margin-left: 2.7%;
}

.underwear-section-div {
  height: 339px;
}
.underwear-section-div a[role=button] {
  border-width: 2px;
  left: 195px;
  position: relative;
  top: -230px;
  padding: 19px 45px;
}

.underwear-kit-text, .underwear-lingerie-text {
  position: relative;
  top: -267px;
}

.underwear-kit-text {
  font-family: "Montserrat", sans-serif;
  font-size: px-to rem(31.49);
  font-weight: lighter;
  left: -140px;
  text-align: right;
}
.underwear-kit-text strong {
  text-align: left;
  font-size: 2.36875rem;
  font-family: "Roboto", sans-serif;
  font-weight: 1000;
}
.underwear-kit-text span {
  font-size: 4.39rem;
  font-weight: 600;
}

.underwear-lingerie-text {
  font-size: 2.33375rem;
  left: 110px;
}
.underwear-lingerie-text strong, .underwear-lingerie-text span {
  font-size: 4.080625rem;
}

.about-article {
  width: 78%;
  margin: auto;
  margin-top: 2.5rem;
}
.about-article h2 {
  font-size: 2.278125rem;
}
.about-article hr {
  float: right;
  margin-top: -0.65rem;
  width: 58%;
}
.about-article p {
  font-size: 0.875rem;
  font-family: "Montserrat", sans-serif;
  padding-top: 2rem;
}

.promotions-form {
  width: 78%;
  margin: auto;
  margin-top: 2rem;
  box-sizing: border-box;
  background-color: #f0f0f0;
  font-size: 1.24625rem;
  padding: 1.8rem 0 1.8rem 3rem;
}
.promotions-form strong {
  margin-right: 2.6rem;
}
.promotions-form input[type=text] {
  border: none;
  border-top: 1px solid black;
  border-left: 1px solid black;
  color: #808080;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  height: 43px;
  padding-left: 1rem;
  width: 37%;
}
.promotions-form input[type=submit] {
  color: white;
  background-color: black;
  border: none;
  font-size: 1rem;
  padding: 0.8rem 2.5rem;
  margin-left: -4px;
}

footer {
  width: 78%;
  margin: auto;
  margin-top: 2rem;
  height: 600px;
  border-top: 1.5px solid #f0f0f0;
  width: 100%;
}

.footer-container-top {
  display: flex;
}

.footer-table {
  font-size: 0.75rem;
}
.footer-table thead {
  display: inline-block;
}
.footer-table td {
  border-collapse: separate;
  padding-right: 1rem;
}

.table-container {
  padding-top: 2rem;
  padding-left: 10.7%;
}

.footer-container-mid {
  display: flex;
  border-bottom: 1px solid #f0f0f0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 78%;
  margin: auto;
}
.footer-container-mid li {
  font-size: 0.6875rem;
  list-style: disc;
  margin-left: 1.5rem;
  padding-top: 0.3rem;
}
.footer-container-mid li:nth-child(1) {
  list-style: none;
}
.footer-container-mid li::before {
  color: #f0f0f0;
}

.footer-container-bottom {
  width: 78%;
  margin: auto;
  margin-top: 2rem;
  display: flex;
  border-bottom: 1px solid #f0f0f0;
  box-sizing: border-box;
}
.footer-container-bottom div {
  margin: auto;
  height: 240px;
}
.footer-container-bottom table thead {
  text-align: left;
  display: inline-block;
}
.footer-container-bottom a[role=button] {
  display: block;
  font-size: 1.4375rem;
  padding: 19px 45px;
}
.footer-container-bottom a[role=link] {
  margin-left: 1.2rem;
}

.container-copyright {
  width: 78%;
  margin: auto;
  margin-top: 2rem;
  display: flex;
}
.container-copyright p {
  font-size: 0.75rem;
}
.container-copyright .container-selos {
  margin-left: 10.9rem;
}
.container-copyright .container-selos img {
  margin-right: 1rem;
}

@media only screen and (max-width: 1024px) {
  .containers-banner-c {
    width: 40%;
  }

  .div-icons {
    background-image: none;
  }

  .ul-icons {
    padding-left: 0;
  }

  .icons-li {
    width: 20%;
    margin-left: 5%;
  }

  .sections-segments-container {
    width: 100%;
  }

  .brands-li {
    margin-left: 1%;
  }

  .news-header-ul {
    padding-left: 30%;
    border-bottom: 2px solid #808080;
    margin-left: 2%;
  }

  .underwear-section-container {
    flex-direction: column;
  }

  .underwear-section-div {
    margin: auto;
  }

  .under-div-b {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 376px) {
  .main-header {
    flex-direction: column;
  }
  .main-header .containers-header {
    width: 70%;
    margin: auto;
  }
  .main-header .c-h-a {
    display: none;
  }
  .main-header .c-h-c {
    margin-top: 2rem;
    padding-right: 3rem;
  }

  nav {
    display: none;
  }

  .containers-banner-a p {
    text-align: center;
    width: 50%;
    margin: 0;
  }

  .div-icons {
    display: none;
  }

  .underwear-section-container {
    margin: 0;
    width: 100%;
  }

  .underwear-section-div {
    width: 99%;
  }

  .containers-banner-c, .containers-banner-b {
    display: none;
  }

  .news-section, .section-segments, .icons-aside {
    display: none;
  }

  .promotions-form {
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
  }
  .promotions-form input[type=text] {
    display: block;
    margin: 2rem 0;
    width: 95%;
  }
  .promotions-form input[type=submit] {
    margin-left: 25%;
  }

  footer div {
    flex-direction: column;
  }

  .table-container {
    padding: 0;
    padding-top: 1rem;
  }

  .footer-table td {
    padding: 0;
  }

  .footer-container-mid {
    display: none;
  }

  .footer-container-bottom {
    margin: 0;
  }
  .footer-container-bottom div {
    height: 160px;
    margin-top: 2rem;
  }

  .container-copyright .container-selos {
    margin: 0;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
  }
}

/*# sourceMappingURL=main.css.map */
